/* Write your CSS code here */

.userimage {
  height: 10%;
  width: 12%;
}
.user-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.userimage {
  font-family: Roboto;
  font-weight: bold;
  color: #12022f;
  font-size: 18px;
}
.user-designation {
  font-family: Roboto;
  font-weight: normal;
  color: #616e7c;
  text-align: center;
  font-size: 14px;
}
